In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv("netflix_titles.csv")

In [6]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4031,s4032,Movie,Hajwala 2: Mysterious Mission,"Ibrahim Bin Mohamed, Hasan Aljaberi","Hussain Al Hosani, Ali Almarzouqi, Abdullah Al...",United Arab Emirates,"March 8, 2019",2018,TV-14,116 min,"Action & Adventure, Comedies, International Mo...","In this sequel, a group of expert drivers skil..."
4065,s4066,Movie,The Spiderwick Chronicles,Mark Waters,"Freddie Highmore, Mary-Louise Parker, Sarah Bo...",United States,"March 1, 2019",2008,PG,97 min,Children & Family Movies,When city-raised twins move to a tumbledown co...
7351,s7352,Movie,Love Station,Ahmad Samir Farag,"Menna Shalaby, Sherif Salama, Yousra El Lozy, ...",Egypt,"April 25, 2019",2011,TV-14,97 min,"Comedies, International Movies, Romantic Movies",Single coworkers at a radio station are brough...
5158,s5159,Movie,Barbra: The Music ... The Mem'ries ... The Magic!,"Barbra Streisand, Jim Gable",Barbra Streisand,United States,"November 22, 2017",2017,TV-14,109 min,Music & Musicals,Iconic songstress Barbra Streisand culminates ...
8254,s8255,Movie,The Congress,Ari Folman,"Robin Wright, Harvey Keitel, Jon Hamm, Paul Gi...","Israel, Germany, Poland, Luxembourg, Belgium, ...","August 23, 2019",2013,TV-MA,123 min,"Dramas, International Movies, Sci-Fi & Fantasy",Actress Robin Wright plays herself in this sur...

In [7]:
df.drop(["show_id", "description"], axis=1, inplace=True)

In [8]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
4925,TV Show,The Chalet,NaN,"Chloé Lambert, Philippe Dusseau, Emilie de Pre...",France,"April 17, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas"
6581,Movie,Dear Dracula,Chad Van De Keere,"Nathan Gamble, Ray Liotta, Emilio Estevez, Ari...",United States,"February 18, 2016",2012,TV-Y7-FV,43 min,"Children & Family Movies, Comedies"
3146,TV Show,Scooby-Doo!: Mystery Incorporated,NaN,"Frank Welker, Mindy Cohn, Grey DeLisle, Matthe...",United States,"December 15, 2019",2012,TV-Y7,2 Seasons,"Kids' TV, TV Comedies"
5181,Movie,The Journey Is the Destination,Bronwen Hughes,"Ben Schnetzer, Kelly Macdonald, Sam Hazeldine,...",United States,"November 7, 2017",2016,R,123 min,Dramas
4573,Movie,Jodhaa Akbar,Ashutosh Gowariker,"Hrithik Roshan, Aishwarya Rai Bachchan, Sonu S...",India,"October 1, 2018",2008,TV-14,214 min,"Action & Adventure, Dramas, International Movies"

In [10]:
df.shape

(8807, 10)

In [11]:
df.size

88070

In [12]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [14]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [15]:
df.info

<bound method DataFrame.info of          type                  title         director  \
0       Movie   Dick Johnson Is Dead  Kirsten Johnson
1     TV Show          Blood & Water              NaN
2     TV Show              Ganglands  Julien Leclercq
3     TV Show  Jailbirds New Orleans              NaN
4     TV Show           Kota Factory              NaN
...       ...                    ...              ...
8802    Movie                 Zodiac    David Fincher
8803  TV Show            Zombie Dumb              NaN
8804    Movie             Zombieland  Ruben Fleischer
8805    Movie                   Zoom     Peter Hewitt
8806    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

[8807 rows x 10 columns]>

In [16]:
df.isnull().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [20]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [28]:
mode_country=df["country"].mode()[0]
df["country"]=df["country"].fillna(mode_country)

In [29]:
df.isnull().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [30]:
df["country"].isnull().sum()

np.int64(0)

In [31]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [33]:
mode_date=df["date_added"].mode()[0]
df["date_added"]=df["date_added"].fillna(mode_date)

In [34]:
df["date_added"].isnull().sum()

np.int64(0)

In [36]:
mode_rating= df["rating"].mode()[0]

In [38]:
df["rating"]=df["rating"].fillna(mode_rating)

In [39]:
df['rating'].isnull().sum()

np.int64(0)

In [44]:
df.isnull().sum()

type               0
title              0
director        2634
cast             825
country            0
date_added         0
release_year       0
rating             0
duration           0
listed_in          0
dtype: int64

In [41]:
mode_duration= df["duration"].mode()[0]

In [42]:
df["duration"]=df["duration"].fillna(mode_duration)

In [43]:
df['duration'].isnull().sum()

np.int64(0)

In [45]:
df["director"]=df["director"].fillna("Not Mention")

In [46]:
df['director'].isnull().sum()

np.int64(0)

In [47]:
df.isnull().sum()

type              0
title             0
director          0
cast            825
country           0
date_added        0
release_year      0
rating            0
duration          0
listed_in         0
dtype: int64

In [49]:
df['cast']=df['cast'].fillna("Not Mention")

In [50]:
df.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [51]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [54]:
df=df[~df["rating"].str.contains("min")]

In [55]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [56]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [57]:
df["date_added"]=df["date_added"].str.replace(",","")

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\2649166716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"]=df["date_added"].str.replace(",","")

In [58]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [59]:
df.info

<bound method DataFrame.info of          type                  title         director  \
0       Movie   Dick Johnson Is Dead  Kirsten Johnson
1     TV Show          Blood & Water      Not Mention
2     TV Show              Ganglands  Julien Leclercq
3     TV Show  Jailbirds New Orleans      Not Mention
4     TV Show           Kota Factory      Not Mention
...       ...                    ...              ...
8802    Movie                 Zodiac    David Fincher
8803  TV Show            Zombie Dumb      Not Mention
8804    Movie             Zombieland  Ruben Fleischer
8805    Movie                   Zoom     Peter Hewitt
8806    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                           Not Mention  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...  United States
3                                           Not Mention  United States
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                        Not Mention  United States
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
0     September 25 2021          2020  PG-13     90 min
1     September 24 2021          2021  TV-MA  2 Seasons
2     September 24 2021          2021  TV-MA   1 Season
3     September 24 2021          2021  TV-MA   1 Season
4     September 24 2021          2021  TV-MA  2 Seasons
...                 ...           ...    ...        ...
8802   November 20 2019          2007      R    158 min
8803        July 1 2019          2018  TV-Y7  2 Seasons
8804    November 1 2019          2009      R     88 min
8805    January 11 2020          2006     PG     88 min
8806       March 2 2019          2015  TV-14    111 min

                                              listed_in
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

[8804 rows x 10 columns]>

In [60]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
398,Movie,Kingdom: Ashin of the North,Kim Seong-hun,"Gianna Jun, Park Byung-eun, Kim Si-a, Kim Roi-...",United States,July 23 2021,2021,TV-MA,94 min,"Horror Movies, International Movies, Thrillers"
2102,TV Show,Ojos in d' House,Not Mention,"'Najite Dede, Jude Chukwuka, Taiwo Arimoro, Od...",Nigeria,August 22 2020,2013,TV-G,1 Season,"International TV Shows, TV Comedies"
5629,Movie,Pink,Aniruddha Roy Chowdhury,"Tapsee Pannu, Kirti Kulhari, Andrea Tariang, A...",India,January 20 2017,2016,TV-14,130 min,"Dramas, International Movies"
7567,Movie,Natural Selection,Chad L. Scheifele,"Mason Dye, Ryan Munzert, Anthony Michael Hall,...",United States,December 1 2016,2015,R,101 min,"Dramas, Independent Movies"
551,Movie,Haseen Dillruba,Vinil Mathew,"Taapsee Pannu, Vikrant Massey, Harshvardhan Ra...",India,July 2 2021,2021,TV-MA,136 min,"International Movies, Romantic Movies, Thrillers"

In [64]:
df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\498004367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_added"] = pd.to_datetime(df["date_added"], format="mixed")

In [65]:
df["year"]=df["date_added"].dt.year

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\1025263937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year"]=df["date_added"].dt.year

In [66]:
df["month"]=df["date_added"].dt.month_name()

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\3979572428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["month"]=df["date_added"].dt.month_name()

In [67]:
df["date"]=df["date_added"].dt.day

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\1841610673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date"]=df["date_added"].dt.day

In [68]:
df["genre"]=df["listed_in"].str.split(",").str[0]

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\1967608466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["genre"]=df["listed_in"].str.split(",").str[0]

In [70]:
df["genre"].value_counts().head(5)

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [73]:
df=df[df["cast"]!="Not Mention"]

In [74]:
df["lead_actor"]=df["cast"].str.split(",").str[0]

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\4151431803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["lead_actor"]=df["cast"].str.split(",").str[0]

In [75]:
df["lead_actor"].value_counts().head(5)

lead_actor
Shah Rukh Khan        26
Akshay Kumar          23
Amitabh Bachchan      20
David Attenborough    20
Adam Sandler          20
Name: count, dtype: int64

In [76]:
df.sample

<bound method NDFrame.sample of          type                             title  \
1     TV Show                     Blood & Water
2     TV Show                         Ganglands
4     TV Show                      Kota Factory
5     TV Show                     Midnight Mass
6       Movie  My Little Pony: A New Generation
...       ...                               ...
8801    Movie                           Zinzana
8802    Movie                            Zodiac
8804    Movie                        Zombieland
8805    Movie                              Zoom
8806    Movie                            Zubaan

                           director  \
1                       Not Mention
2                   Julien Leclercq
4                       Not Mention
5                     Mike Flanagan
6     Robert Cullen, José Luis Ucha
...                             ...
8801                Majid Al Ansari
8802                  David Fincher
8804                Ruben Fleischer
8805                   Peter Hewitt
8806                    Mozez Singh

                                                   cast  \
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                           country date_added  release_year rating   duration  \
1                     South Africa 2021-09-24          2021  TV-MA  2 Seasons
2                    United States 2021-09-24          2021  TV-MA   1 Season
4                            India 2021-09-24          2021  TV-MA  2 Seasons
5                    United States 2021-09-24          2021  TV-MA   1 Season
6                    United States 2021-09-24          2021     PG     91 min
...                            ...        ...           ...    ...        ...
8801  United Arab Emirates, Jordan 2016-03-09          2015  TV-MA     96 min
8802                 United States 2019-11-20          2007      R    158 min
8804                 United States 2019-11-01          2009      R     88 min
8805                 United States 2020-01-11          2006     PG     88 min
8806                         India 2019-03-02          2015  TV-14    111 min

                                              listed_in  year      month  \
1       International TV Shows, TV Dramas, TV Mysteries  2021  September
2     Crime TV Shows, International TV Shows, TV Act...  2021  September
4     International TV Shows, Romantic TV Shows, TV ...  2021  September
5                    TV Dramas, TV Horror, TV Mysteries  2021  September
6                              Children & Family Movies  2021  September
...                                                 ...   ...        ...
8801            Dramas, International Movies, Thrillers  2016      March
8802                     Cult Movies, Dramas, Thrillers  2019   November
8804                            Comedies, Horror Movies  2019   November
8805                 Children & Family Movies, Comedies  2020    January
8806     Dramas, International Movies, Music & Musicals  2019      March

      date                     genre       lead_actor
1       24    International TV Shows       Ama Qamata
2       24            Crime TV Shows    Sami Bouajila
4       24    International TV Shows       Mayur More
5       24                 TV Dramas      Kate Siegel
6       24  Children & Family Movies  Vanessa Hudgens
...    ...                       ...              ...
8801     9                    Dramas      Ali Suliman
8802    20               Cult Movies     Mark Ruffalo
8804     1                  Comedies  Jesse Eisenberg
8805    11  Children & Family Movies        Tim Allen
8806     2                    Dramas    Vicky Kaushal

[7979 rows x 15 columns]>

In [77]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,date,genre,lead_actor
2047,TV Show,Spirit Riding Free: Riding Academy,Not Mention,"Amber Frank, Bailey Gambertoglio, Sydney Park,...",United States,2020-09-04,2020,TV-Y7,2 Seasons,Kids' TV,2020,September,4,Kids' TV,Amber Frank
2641,TV Show,DreamWorks Spooky Stories: Volume 2,Not Mention,"Seth Rogen, Will Arnett, Hugh Laurie, Will Fer...",United States,2020-04-24,2011,TV-PG,1 Season,"Kids' TV, TV Comedies",2020,April,24,Kids' TV,Seth Rogen
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",United States,2021-09-24,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",2021,September,24,TV Dramas,Kate Siegel
5873,Movie,Ip Man,Wilson Yip,"Donnie Yen, Simon Yam, Louis Fan, Lam Ka Tung,...","Hong Kong, China",2016-01-15,2008,R,107 min,"Action & Adventure, Dramas, International Movies",2016,January,15,Action & Adventure,Donnie Yen
7105,Movie,It's Now or Never,Maria Ripoll,"Dani Rovira, María Valverde, Jordi Sánchez, Jo...",Spain,2016-03-01,2015,TV-MA,91 min,"Comedies, International Movies, Romantic Movies",2016,March,1,Comedies,Dani Rovira

In [79]:
df.drop(["date_added","listed_in","cast"],axis=1, inplace=True)

C:\Users\vivek\AppData\Local\Temp\ipykernel_10724\1157090922.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(["date_added","listed_in","cast"],axis=1, inplace=True)

In [81]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,date,genre,lead_actor
7769,TV Show,Power Rangers Ninja Storm,Not Mention,"United States, New Zealand",2003,TV-Y7,1 Season,2016,January,1,Kids' TV,Pua Magasiva
3286,TV Show,My Dear Warrior,Not Mention,Thailand,2019,TV-14,1 Season,2019,November,14,International TV Shows,Leo Putt
991,Movie,One Like It,Marwan Nabil,Egypt,2020,TV-G,15 min,2021,April,23,Dramas,Riham Abdel Ghafour
8731,Movie,While We're Young,Noah Baumbach,United States,2015,R,97 min,2017,October,23,Comedies,Ben Stiller
8691,Movie,Wakefield,Robin Swicord,United States,2016,R,109 min,2019,March,2,Dramas,Bryan Cranston

In [82]:
df.columns

Index(['type', 'title', 'director', 'country', 'release_year', 'rating',
       'duration', 'year', 'month', 'date', 'genre', 'lead_actor'],
      dtype='object')

In [83]:
df.to_csv("netflix_cleaned_data.csv")